.topo {
    display:inline-block;
    background-color:rgb(203, 224, 82);
    float:right;
}

  .titulo1 {
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
    .tabela-informacao {
                float:right;
                display:inline;
                width:260px;
    }
